[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/oran-gerrit-ric-plt-appmgr-committers
	owner = group saml/oran-gerrit-ric-plt-appmgr-committers
	read = group GitHub Replication
[project]
	description = Provides a flexible and secure way for deploying and managing various RIC xApp applications in Kubernates environment.
